@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}

#start {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../public/imgs/bg-home.jpg");
  background-position: center;
}
